<div class="container">
    <h1>Teachers List</h1>
     
    <a href="#" routerLink="/course/create/" class="btn btn-success" style="margin-bottom:30px;">Add New Course</a>

    <a href="#" routerLink="/teacher/create/" class="btn btn-success" style="margin-bottom:30px;margin-left:30px;">Add New Teacher</a>

    <table class="table table-bordered" style="margin-top:40px;">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Salary</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let teacher of teachers">
        <td>{{ teacher.id }}</td>
        <td>{{ teacher.name }}</td>
        <td>{{ teacher.birthday }}</td>
        <td>{{ teacher.salary }}</td>
        <td>
          Will decide
        </td>
      </tr>
    </table>
 </div>
